<template>
    <div class="container">
        <div class="row">
            <div class="col-4" v-for="product in products" v-bind:key="product.id">
		        <div class="card card-body">
		        	<h3>{{ product.name }}</h3>
		        	<img class="card-img-top" v-bind:src="product.img"/>
		        </div>
		    </div>
		</div>
	</div>
</template>

<script>
	export default {
		mounted(){
			console.log('Component mounted.')
		},

		data() {
			return {
				products: [],
				product: {
					id: '',
					name: '',
					img: ''
				},
				pagination: {},
			}
		},

		created(){
			this.fetchProducts();
		},

		methods: {
			fetchProducts(page_url){
				page_url = page_url || '/api/products'
				fetch(page_url)
					.then(res => res.json())
					.then(res => {
						this.products = res.data;
						this.pagination = {
							current_page: res.current_page,
							last_page: res.last_page,
							next_page_url: next_page_url,
							prev_page_url: prev_page_url
						};
					})
			}
		}
	}
</script>
